<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <h5>User Data</h5>
      <table class="table">
        <thead>
          <th>S. No</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
        </thead>
        <tbody>
          <tr *ngFor="let data of jsonData; let i = index"
              style="cursor: pointer;"
              (click)="onClick(data)"
              data-toggle="modal"
              data-target="#myModal">
            <td>{{ i+1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Modal-->
<div class="container" *ngIf="rowClicked">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">User Data</h5>
        </div>
        <div class="modal-body">
          <p>{{ clickedUser.name }}</p>
          <p>{{ clickedUser.username }}</p>
          <p>{{ clickedUser.email }}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>